body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.navbar {
  width: 100%;
  background-color: gray;
  overflow: auto;
  margin: 0;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
}

.navbar a:hover {
  background-color: brown;
}

.active {
  background-color: brown;
}

.responsive {
  display: none;
}

i {
  padding: 0 5px;
}

@media (max-width:600px) {
  .responsive {
    display: block;
    float: right;
    padding: 12px;
  }
  i:not(.responsive) {
    display: none;
  }
}

.intro {
  text-align: center;
  margin: 0 15%;
}